<!-- Bottom Box: Quick Actions -->
    <div class="bg-white border border-gray-300 shadow p-4 rounded-2xl flex-1">
        <h3 class="text-lg font-semibold mb-4">Quick Actions</h3>                                        <!-- title -->

        <!-- Alpine.js container, reactive state variable to track whether window is open or not -->
        <div x-data="{ open: false }" class="flex-1 mt-4 py-2 px-4 rounded-xl border border-gray-100">

            <!-- Add Note button, will open the actual text area when triggered -->
            <button 
                @click="open = !open" class="text-gray-500">                                                  <!-- if open, it will set it to false if clicked again to close it-->
                Add Note                                   
            </button>

            <!-- Form, initially hidden since open is false, defines the POST method and HTMX for updates, and defines url to be used -->
            <form 
                x-show="open" 
                x-transition 
                method="POST"
                hx-post="{% url 'add_note' claim.id %}"
                hx-target="#notes-panel"
                hx-swap="innerHTML"
                class="mt-2"
            >
                {% csrf_token %}                                                                <!-- middleware token to prevent 403 forbidden error -->
                <textarea 
                name="text" 
                rows="3" 
                placeholder="Write your note..." 
                class="w-full px-3 py-2 border rounded mb-2 text-sm leading-snug placeholder-gray-400"></textarea> <!-- tailwing css to make lineheigh match padding-->

                <button 
                    type="submit" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                    Submit
                </button>
            </form>

        </div>
        
      <!-- flag claim, message is coded in view function, two possible urls to either remove or add the flag to the flag pannel using htmx -->
        <div class="flex-1 mt-4 py-2 px-4 rounded-xl border border-gray-100">
            <form 
                method="POST"
                hx-post="{% if claim.flags.exists %}{% url 'remove_flag' claim.id %}{% else %}{% url 'add_flag' claim.id %}{% endif %}"  
                hx-target="#flag-panel"                        
                hx-swap="innerHTML"                             
                class="flex gap-2"
            >
                {% csrf_token %}
                <button type="submit" class="text-gray-500">
                    {% if claim.flags.exists %}
                        Remove Flag
                    {% else %}
                        Flag for Review
                    {% endif %}
                </button>
            </form>

        </div>
        
        <!-- generate report button, calls admin_dashboard partial to update div-->
        <div class="flex-1 mt-4 py-2 px-4 rounded-xl border border-gray-100">
            <button class="text-gray-500"
                hx-get="{% url 'admin_dashboard' %}"   
                hx-target="#admin-panel"          
                hx-swap="innerHTML"
            >
                Generate Report
            </button>
        </div>

    </div>



    <!-- this listener waits for the flag-panel to be targeted, then takes the claim id from the two possible urls being called to update the flag button -->
<script>
    
    document.body.addEventListener('htmx:afterSwap', function(evt) {
    const targetId = evt.target.id;                                         //waits for 'flag-panel' to be the evt target

    if (targetId === 'flag-panel') {
        const urlMatch = evt.detail.xhr.responseURL.match(/\/claim\/(\d+)\/(add|remove)-flag/); //used to extract the claim id from the url being called, with two possible options
        if (urlMatch) {
            const claimId = urlMatch[1];

            // Trigger the actions partial to update the button
            htmx.ajax('GET', `/claim/${claimId}/actions/`, {target: '#quick-actions-panel', swap: 'innerHTML'});
        }
    }
});



</script>