
{% load humanize %} <!-- for number formatting -->

<!-- flexbox to stack children vertically -->
<div class="flex flex-col">
    <!-- table using tailwing css -->
    <table class="table-auto w-full border border-gray-300 rounded-lg overflow-hidden">
        <thead>
            <tr class="bg-gray-200 text-left border-l-2 border-r-2 border border-gray-300 ">

                <!-- table headers-->
                <th class="px-4 py-2 border">Claim ID</th>
                <th class="px-4 py-2 border">Patient Name</th>
                <th class="px-4 py-2 border">Billed Amount</th>
                <th class="px-4 py-2 border">Paid Amount</th>
                <th class="px-4 py-2 border">Status</th>
                <th class="px-4 py-2 border">Insurer Name</th>
                <th class="px-4 py-2 border">Discharge Date</th>
                <th class="px-4 py-2 border">Actions</th>
            </tr>
        </thead>
        <tbody class = "divide-y border-l-2 border-r-2 border-gray-300 divide-gray-300">
            <!-- loops over claims passed from views-->
            {% for claim in claims %}
            <!-- for each claim, creates a table row with all the attributes-->
            <tr class="text-left hover:bg-blue-100">
                <td class="px-4 py-2 font-mono text-blue-800">{{ claim.claim_id }}</td>      <!-- claim id-->
                <td class="px-4 py-2">{{ claim.patient_name }}</td>
                <td class="px-4 py-2">${{ claim.billed_amount|floatformat:2|intcomma }}</td> <!-- float number formatting with commas -->
                <td class="px-4 py-2 {% if claim.paid_amount == 0.00 %}text-red-500{% else %}text-green-500{% endif %}">${{ claim.paid_amount|floatformat:2|intcomma }}</td> <!-- logic goes in tags not inline, paid green, not paid red-->
                <td class="px-4 py-2 text-center align-middle">                                  <!-- approved green, denied red, under review blue, centered and justified inside the span -->
                    <span class="inline-block w-30 h-8 rounded-2xl font-semibold text-sm        
                        {% if claim.status == 'Denied' %} text-red-900 bg-red-100 
                        {% elif claim.status == 'Paid' %} text-green-500 bg-green-100 
                        {% else %} text-blue-500 bg-blue-100 
                        {% endif %}
                        flex items-center justify-center whitespace-nowrap">
                        {{ claim.status }}                                                      <!-- prevent text wrapping to keep it single lined -->
                    </span>
                </td>
                <td class="px-4 py-2">{{ claim.insurer_name }}</td>                 <!-- insurer name -->
                <td class="px-4 py-2">{{ claim.discharge_date }}</td>               <!-- discharge date -->
                <td>                                  <!-- view button -->
                    <div class="inline-flex items-center justify-center gap-2">     <!-- flex container to display flag and view button side by side -->
                        
                        <button
                            hx-get="{% url 'claim_detail_partial' claim.id %}"
                            hx-target="#claim-detail-panel"
                            hx-swap="innerHTML"
                            class=" text-gray-500 border border-gray-300 px-3 py-1 gap-2 rounded flex items-center">
                        <!-- eye svg icon-->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </svg>

                            View
                        </button>

                        <span class="text-yellow-500 text-center px-4">  <!-- Flag placeholder to avoid view button shifting when adding flag icon -->
                            {% if claim.flags.exists %}
                                <!-- flag svg icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5" />
                                </svg>

                            {% endif %}
                        </span>

                    </div>
                </td>

            </tr>
            <!-- empty table case-->
            {% empty %}
            <tr>
                <td colspan="8" class="px-4 py-2 text-center text-gray-500">
                    No claims found.
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot> 
            <tr>
            <td colspan="8" class="border-t-2 border-gray-300 p-0"></td>
            </tr>
        </tfoot>
    </table>
     
    <!-- Pagination controls -->
    <div class="flex justify-between mt-4"> <!-- This flex container keeps first element to the left of page and second to the right for the previous and next buttons -->

        <!-- only displays previous button if there are previous pages and keeps  -->
        <!-- swaps only the tables content, but keeps search input, selected insurer, and selected status if they exist -->
        {% if claims.has_previous %}
            <button 
                hx-get="?page={{ claims.previous_page_number }}&q={{ q|urlencode }}&insurer={{ selected_insurer|urlencode }}&status={{ selected_status|urlencode }}"
                hx-target="#claims-table" 
                hx-swap="innerHTML"
                class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                ← Previous <!-- button text -->
            </button>
        {% else %}
            <!-- keeps empty invisible element on left side of page for stability-->
            <span></span>
        {% endif %}

        <!-- only displays next button if there are more pages -->
        {% if claims.has_next %}
            <button 
                hx-get="?page={{ claims.next_page_number }}&q={{ q|urlencode }}&insurer={{ selected_insurer|urlencode }}&status={{ selected_status|urlencode }}"
                hx-target="#claims-table"
                hx-swap="innerHTML"
                class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                Next → <!-- button text -->
            </button>
        {% else %}
            <!-- keeps empty invisible element on right side of page for stability-->
            <span></span>
        {% endif %}
    </div>
</div>

<!-- hidden inputs for reloading-->
<input type="hidden" id="current-page" value="{{ claims.number }}">
<input type="hidden" id="current-q" value="{{ q }}">
<input type="hidden" id="current-insurer" value="{{ selected_insurer }}">
<input type="hidden" id="current-status" value="{{ selected_status }}">


<!-- Flex row for left and right containers -->
<div class="flex mt-2 gap-4">

   <!-- Fixed bottom-left panel -->
    <div id="claim-detail-panel" class="mt-4 w-1/2 bg-gray-100 border border-gray-300 shadow p-4 rounded-2xl overflow-auto">
        {% if claims %}
            {% include "claims/claim_detail_partial.html" with claim=claims.0 %}
        {% endif %}
    </div>

    <!-- Right: Two main vertical containers -->
    <div class="w-1/2 flex flex-col gap-2">

        <!-- top container with two stacked boxes inside of it  -->
        <div class=" flex flex-col  bg-gray-100 mt-4 border border-gray-300 shadow  p-4 rounded-2xl flex-1">

            <!-- Notes panel -->
            <div id="notes-panel">
                {% if claims %}
                    {% include "claims/notes_partial.html" with claim=claims.0 %}
                {% else %}
                    <p>No claim selected.</p> 
                {% endif %}
            </div>

            <!-- Flag panel -->
            <div id="flag-panel">
                {% if claims %}
                    {% include "claims/flag_partial.html" with flags=claims.0.flags.all %}
                {% endif %}
            </div>
        </div>
        <!-- bottom container div -->
        <div id="quick-actions-panel">
                {% include "claims/actions_partial.html" with claim=claims.0 %}
        </div>

    </div>

</div>

<script>
        
    //event listener to trigger a ajax request for claim/pk/notes url based on a request to claim detail panel, extracts its claim id. Works for max of two urls else it skips one
    document.body.addEventListener('htmx:afterSwap', function(evt) {                                   
        if(evt.target.id === 'claim-detail-panel'){                                             //executes when claim-detail-panel is swapped
            const urlMatch = evt.detail.xhr.responseURL.match(/\/claim\/(\d+)\/details\//);     //regex to extract claim id
            if(urlMatch){
                const claimId = urlMatch[1];                                                    //claim id stored in index 1

                //Request to update notes panel
                htmx.ajax('GET', `/claim/${claimId}/notes/`, {target:'#notes-panel', swap:'innerHTML'});

                //Request to update flag panel
                htmx.ajax('GET', `/claim/${claimId}/flags/`, {target:'#flag-panel', swap:'innerHTML'});
            }
        }
    });

    let lastClaimId = null;  //save the last processed claim id

    //only lets actions panel load once per claim id since you can call add and remove flags urls to same claim id 
    document.body.addEventListener('htmx:afterSwap', function(evt) {
        if (evt.target.id === 'flag-panel') {                                               //executes if flag-panel is swapped
            const urlMatch = evt.detail.xhr.responseURL.match(/\/claim\/(\d+)\/flags\//);   //extracts claim id
            if (urlMatch) {
                const claimId = urlMatch[1];                                                //claim id stored at index 1

                // Only trigger if claimId is different from the last one
                if (claimId !== lastClaimId) {
                    lastClaimId = claimId; // update saved claim id
                        
                    //request to swap the quick actions panel with new claim id
                    htmx.ajax('GET', `/claim/${claimId}/actions/`, {target: '#quick-actions-panel', swap: 'innerHTML'});
                }
            }
        }
    });

    //Allows for claim to be reclicked after a successful flag pannel swap due to the cached claim id from before swap 
    document.body.addEventListener('htmx:afterSwap', function(evt) {
        if (evt.target.id === 'claims-table') {                 
            lastClaimId = null; // reset when claims-table is swapped 
        }
    });
        
</script>

