
<!-- Success message area -->
<div id="edit-claim-message">
    {% if success %}
    <div class="px-4 py-2 mb-2 text-green-700 bg-green-100 rounded">
        {{ success }}
    </div>
    {% endif %}

</div>

<!-- edit claim form -->
<form method="POST"
        hx-post="{% url 'edit_claim' claim.id %}"
        hx-target="#edit-panel"
        hx-swap="innerHTML"
        x-show="open"
        class="space-y-4">
    
        {% csrf_token %}                            <!-- middleware token -->

    <!-- main 3 column gird -->
    <div class="grid grid-cols-3 gap-6 border border-gray-200 rounded-xl px-4 py-4">

        <!-- Patient Name -->
        <div class="flex flex-col space-y-2">
            <label class="font-semibold capitalize">{{ form.patient_name.label }}</label>
            {{ form.patient_name }}
        </div>

        <!-- Discharge Date -->
        <div class="flex flex-col space-y-2">
            <label class="font-semibold capitalize">{{ form.discharge_date.label }}</label>
            {{ form.discharge_date }}
        </div>

        <!-- Status -->
        <div class="flex flex-col space-y-2">
            <label class="font-semibold caputalize">{{form.status.label}}</label>
            {{form.status}}
        </div>

        <!-- Billed -->
        <div class="flex flex-col space-y-2">
            <label class="font-semibold capitalize">{{ form.billed_amount.label }}</label>
            {{ form.billed_amount }}
        </div>
         
        <!-- Paid -->
        <div class="flex flex-col space-y-2">
            <label class="font-semibold capitalize">{{ form.paid_amount.label }}</label>
            {{ form.paid_amount }}
        </div>
        
        <!-- Insurer -->
        <div class="flex flex-col space-y-2">
            <label class="font-semibold capitalize">{{ form.insurer_name.label }}</label>
            {{ form.insurer_name }}
        </div>
            
        <!-- Input instructions spanning all three columns -->
        <div class="col-span-3 border border-yellow-500 bg-yellow-100 rounded text-center text-yellow-500">
            If you wish to make no change to CPT codes or denial reason, please leave blank
        </div>

        <!-- CPT and Denial Reason spanning all three columns -->
        <div class="col-span-3">
            
            <!-- two column view for cpt and denial reason -->
            <div class="grid grid-cols-2 gap-4">
            
                <!-- CPT Codes field + mode -->
                <div class="flex flex-col space-y-1 border p-3 rounded-lg bg-gray-50">      <!-- stack vertically -->
                    <label class="font-semibold capitalize">{{ form.cpt_codes.label }}</label>
                    {{ form.cpt_codes }}
                    <div class="flex items-center space-x-4 mt-1 text-sm text-gray-700">    <!-- display options smaller -->
                        {{ form.cpt_mode }}
                    </div>
                </div>

                <!-- Denial Reason field + mode -->
                <div class="flex flex-col space-y-1 border p-3 rounded-lg bg-gray-50">
                    <label class="font-semibold capitalize">{{ form.denial_reason.label }}</label>
                    {{ form.denial_reason }}
                    <div class="flex items-center space-x-4 mt-1 text-sm text-gray-700">
                        {{ form.denial_mode }}
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- save button -->
    <div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-5 py-2 rounded shadow">
            Save
        </button>
    </div>

</form>

