
<div class="flex-1 mb-2 overflow-auto py-2 px-4 bg-white rounded-xl border-l-4 border-yellow-500">  
    <h4 class="text-md font-semibold text-yellow-500">System Flags</h4> <!-- container heading -->

    <!-- loop throguh flags to display as a list or else display no flags message-->
        <ul class="text-sm text-gray-700 list-disc list-inside space-y-1">
            {% for flag in flags %}                                             <!-- loops through all flags of specific claim to output -->
                <li>{{ flag.message }}</li>

            <!-- empty case-->
            {%empty%}
                <li class="text-sm text-gray-500">No flags set by the system</li>
            {% endfor %}
        </ul>
</div>