{% load tz %}       <!-- used for localtime conversion of timestamp -->
<!-- Top Box: Notes & Flags -->                       <!-- flex box for overall container shape of the right side-->
    <div class="grid grid-cols-2 gap-4  font-semibold">                                            <!-- inner flex box with two columns to display title and claim next to eachother-->
        <h3 class="text-lg font-semibold mb-4 flex items-center gap-2"> <!-- items-center gap-2 to align icon and text -->
            <!-- text icon svg-->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>
            Notes & Annotations
        </h3>
        <h2 class="text-lg text-blue-800 justify-self-end">Claim - {{ claim.claim_id }}</h2>
    </div>
        <!-- Admin Notes -->
    <div class="flex-1 mb-2 overflow-auto py-2 px-4 bg-white rounded-xl border-l-4 border-blue-900">    <!-- flex container and color stylization-->
        <h4 class="text-md font-semibold text-blue-900">Admin Notes</h4>                                <!-- container heading -->
        
        <ul class="list-disc list-inside space-y-1">                                                    <!-- unorderd list with bullet points-->
            {% for note in claim.notes.all %}                                                           <!-- displays all notes for specific claim-->
                <li>
                    {{ note.text }}                                                                     <!-- text portion of the Note form-->
                    <span class="text-xs text-gray-500">
                        — {{ note.created_by.get_full_name }}                                           <!-- display user full name --> 
                        <span class="text-gray-400">({{ note.created_at|localtime|date:"m/d/Y g:i A" }})</span>     <!-- displays timestamp, converted to chicago timezone from utc, h is 12 hour clock, A is capital AM/PM, g no leading 0s -->
                    </span>
                </li>
            {% empty %}                                                                                 <!-- no notes case -->
                <li class="text-gray-500 text-sm">No admin notes available.</li>
            {% endfor %}
        </ul>
    </div>
    


