{% load tz %}       <!-- used for localtime conversion of timestamp -->
<!-- Top Box: Notes & Flags -->                       <!-- flex box for overall container shape of the right side-->
    <div class="grid grid-cols-2 gap-4  font-semibold">                                            <!-- inner flex box with two columns to display title and claim next to eachother-->
        <h3 class="text-lg font-semibold mb-4">Notes & Annotations</h3>
        <h2 class="text-lg text-blue-800 justify-self-end">Claim - {{ claim.claim_id }}</h2>
    </div>
        <!-- Admin Notes -->
    <div class="flex-1 mb-2 overflow-auto py-2 px-4 bg-white rounded-xl border-l-4 border-blue-900">    <!-- flex container and color stylization-->
        <h4 class="text-md font-semibold text-blue-900">Admin Notes</h4>                                <!-- container heading -->
        
        <ul class="list-disc list-inside space-y-1">                                                    <!-- unorderd list with bullet points-->
            {% for note in claim.notes.all %}                                                           <!-- displays all notes for specific claim-->
                <li>
                    {{ note.text }}                                                                     <!-- text portion of the Note form-->
                    <span class="text-xs text-gray-500">
                        — {{ note.created_by.get_full_name }}                                           <!-- display user full name --> 
                        <span class="text-gray-400">({{ note.created_at|localtime|date:"m/d/Y g:i A" }})</span>     <!-- displays timestamp, converted to chicago timezone from utc, h is 12 hour clock, A is capital AM/PM, g no leading 0s -->
                    </span>
                </li>
            {% empty %}                                                                                 <!-- no notes case -->
                <li class="text-gray-500 text-sm">No admin notes available.</li>
            {% endfor %}
        </ul>
    </div>
    


